:root {
    /*River and Sky*/
    --primary-color: hsl(200, 76%, 72%);
    --secondary-color: #132238;
    --background-color: #f1faee;
    --text-color: #2b2d42;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Open Sans", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, label, textarea {
    font-family: var(--body-font);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    border: 1px solid var(--secondary-color);
    padding: 8px 20px;
    text-decoration: none;
    background-color: white;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
    font-family: var(--heading-font);
    color: var(--text-color);
}

article {
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

section {
    display: grid;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 30px;
    padding: 10px;
}

figure {
    display: grid;
    align-items: center;
    justify-content: space-around;
}

figure img {
    width: 150px;
    height: auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    font-size: 12px;
}

section p, section, article {
    margin: 16px;
    padding: 8px;
}

iframe {
    width: 400px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
}

form div {
    margin: 10px;
}

input, textarea {
    padding: 0.3rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    padding: 5px;
    margin: 2px 5px 2px 0px;
    width: 1.1rem;
    height: 1.1rem;
}

button {
    display: block;
    margin: auto;
    padding: 5px;
    width: 300px;
}

/*Class Selectors*/
.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
}

.actions form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 16px;
    padding: 0px;
}

.contact h1 {
    position: relative;
    color: var(--text-color);
    background-color: white;
    border: none;
    opacity: 1;
}

.contact p {
    position: relative;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.excited {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 16px;
    padding: 8px;
}

.introduction {
    text-align: center;
    font-size: 20px;
}

.socialmedia img {
    width: 20px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
}

.history h2 {
    grid-column: 1 / -1;
}

.history img {
    max-width: 300px;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto auto;
    justify-content: space-around;
    text-align: center;
}

.adventure h2 {
    grid-column: 1 / -1;
}

.adventure img {
    width: 120px;
    height: auto;
    margin: 20px;
}

.form-item1 {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    margin-bottom: 10px;
}

.form-item2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.radio input[type="radio"] {
    margin-right: 10px;
}

.form-item3 {
    display: flex;
    flex-direction: column;
}

.form-item4 label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.solutions {
    border: 1px solid rgba(0, 0, 0, 0.1);
}