table {
    border-collapse: collapse;
    border: 2px solid rgb(130, 130, 130);
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(140, 140, 140);
    padding: 8px 12px;
    text-align: center;
}

thead, tfoot {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Every other row background change */
/* I queried AI about the syntax */
tbody tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}