:root {
    --fav-color-main: darkblue;
    --border-primary: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

nav {
    background-color: var(--fav-color-main);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--fav-color-main);
    padding: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--border-primary);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 180px;
    left: 125px;
    color: white;
}

aside p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px dotted var(--border-primary);
    text-align: center;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 1.5rem;
}